/* --------mobile menu-------*/


.nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: #000;
  -webkit-transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: width;
  z-index: 99;
}

.shrink {
  background: #fff;
  box-shadow: 1px 2px 8px #00000012;
}

.nav.is-active {
  width: 80%;
}

.nav__trigger {
  display: block;
  position: absolute;
  top: 0;
  right: 1rem;
  margin-top: 20px;
  padding: 8px 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 10;
}

.nav__trigger .bars {
  position: relative;
}

.nav__trigger .bars,
.nav__trigger .bars:before,
.nav__trigger .bars:after {
  width: 28px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav__trigger .bars:before,
.nav__trigger .bars:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.nav__trigger .bars:before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.nav__trigger .bars:after {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.nav__trigger.is-active {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav__trigger.is-active .bars:before,
.nav__trigger.is-active .bars:after {
  -webkit-transform: translateX(0) rotate(-90deg);
  transform: translateX(0) rotate(-90deg);

}

.nav.is-active .nav__trigger .bars,
.nav.is-active .nav__trigger .bars:before,
.nav.is-active .nav__trigger .bars:after {
  background-color: #fff;
}

.nav__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 3.75rem 1rem 2.75rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0s linear 0.25s;
  transition: 0s linear 0.25s;
}

.nav__content.is-active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0s linear;
  transition: 0s linear;
}

.nav__content.is-active .nav__item a {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-property: opacity, color, -webkit-transform;
  transition-property: opacity, color, -webkit-transform;
  transition-property: transform, opacity, color;
  transition-property: transform, opacity, color, -webkit-transform;
  -webkit-transition-duration: 0.55s, 0.55s, 0.3s;
  transition-duration: 0.55s, 0.55s, 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(1) a {
  -webkit-transition-delay: 0s, 0s, 0s;
  transition-delay: 0s, 0s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(2) a {
  -webkit-transition-delay: 0.05s, 0.05s, 0s;
  transition-delay: 0.05s, 0.05s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(3) a {
  -webkit-transition-delay: 0.1s, 0.1s, 0s;
  transition-delay: 0.1s, 0.1s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(4) a {
  -webkit-transition-delay: 0.15s, 0.15s, 0s;
  transition-delay: 0.15s, 0.15s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(5) a {
  -webkit-transition-delay: 0.2s, 0.2s, 0s;
  transition-delay: 0.2s, 0.2s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(6) a {
  -webkit-transition-delay: 0.25s, 0.25s, 0s;
  transition-delay: 0.25s, 0.25s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(7) a {
  -webkit-transition-delay: 0.3s, 0.3s, 0s;
  transition-delay: 0.3s, 0.3s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(8) a {
  -webkit-transition-delay: 0.35s, 0.35s, 0s;
  transition-delay: 0.35s, 0.35s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(9) a {
  -webkit-transition-delay: 0.4s, 0.4s, 0s;
  transition-delay: 0.4s, 0.4s, 0s;
}

.nav__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  overflow: hidden;
}

.nav__item a {
  display: inline-block;
  padding: 0.2rem;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  font-size: 10vw;
  font-size: 30px;
  font-weight: 300;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform, opacity;
}

.nav__item a:hover {
  color: white;
}

.nav__divider {
  margin: 1.75rem 0 1.5rem;
  width: 100%;
  height: 2px;
  background-color: #9ac6ac;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}



/* ---------------header ------------*/
header {
  padding: 15px 0;
  position: relative;
}

.border_duble {
  border-top: #d9d9d9 double;
  border-bottom: #d9d9d9 double;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
}

.nav-menu li {
  width: 100%;
  text-align: center;

}

.nav-menu a {
  position: relative;
  font-family: 'Gilroy';
  font-weight: 300;
  color: #042a28;
  font-size: 19px;
  padding: 15px 0;
  display: block;

}

.nav-menu a::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 35px;
  left: 0;
  background: #d9d9d9;
}

.nav-menu_first::before {
  display: none;
}

.nav-menu a:hover {
  background: #d9d9d9;
}

.logo {
  position: absolute;
  left: 17px;
  top: 17px;
  z-index: 100;
}

.heder-img {
  margin-top: 10px;
}

.heder-text {
  font-size: 30px;
  font-weight: 300;
  line-height: 33px;
  margin: 50px 0;
}

.heder-btn {
  width: 263px;
  background: linear-gradient(245deg, #d9011c, #9f0509);
  padding: 18px;
  color: #fff;
  font-size: 18px;
  font-family: 'Mont ExtraLight DEMO';
  font-weight: 200;
  border-radius: 33px;
}




/* ---------------section  acquaintance------------*/


.acquaintance {
  position: relative;
}

.acquaintance-cirkle {
  top: -105px;
  left: 40px;
  width: 240px;
  height: 240px;
}

.acquaintance p {
  margin: 0;
  font-size: 16px;
}

/* ---------------section  advantages------------*/

.advantages {
  position: relative;
}

.advantages-circle {
  width: 100px;
  height: 100px;
  top: 35px;
  left: 350px;
  z-index: -1;
}

.advantages-title {
  width: 100%;
  text-align: center;
}

.advantages img {
  margin-bottom: 20px;
}

.advantages p {
  font-size: 28px;
  line-height: 30px;
}

/* ---------------section  service------------*/
.service {
  position: relative;
}

.service-card {
  border-radius: 10px;
  background: #fff;
  height: 500px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  text-align: -webkit-center;
  box-shadow: 0 0 10px rgba(127, 124, 124, 0.32);
}

.card {
  height: 100%;
  border: 1px solid #fa8907;
  background: none;
}

.card-title {
  margin-top: 30px;
  line-height: 30px;
}

.card-title-1 {
  max-width: 315px;
  line-height: 1;
  margin: 50px 0;
}

.card-bay {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.card-time {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20px;
}

.card-list {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.card-list-1 {
  max-width: 250px;
}

.card-list li {
  position: relative;
  list-style-type: none;
}

.card-list li::before {
  position: absolute;
  content: '';
  left: -20px;
  top: 35%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fa8907;
}

.card-btn {
  width: 185px;
  height: 45px;
  background: linear-gradient(245deg, #d9011c, #9f0509);
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.card-btn-1 {
  color: #000;
  background: none;
}

.circle-service-title {
  width: 55px;
  height: 55px;
  right: 30%;
  top: 7%;
  z-index: -1;
}

.circle-service-left {
  width: 420px;
  height: 420px;
  left: 2%;
  top: 35%;
  z-index: -1;
}

.service-card-projekt {
  background: #ffffff75;
}

.circle-service-right {
  width: 430px;
  height: 430px;
  right: 1%;
  top: 50%;
  z-index: -1;
}


/* ---------------section  portfolio------------*/

.portfolio {
  position: relative;
}

.slick-slide img {
  margin: auto;
}

.slick-prev,
.slick-next {
  top: 40%;
}

.slick-next:before {
  content: url(../img/right.png);
}

.slick-prev:before {
  content: url(../img/left.png);
}

.autoplay p {
  text-align: center;
  margin-top: 55px;
  font-size: 28px;
}

.circle-portfolio {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 370px;

}

.autopl-lending-text {
  text-align: center;
  font-size: 28px;
}

.autoplay .slick-dots,
.autopl-lending .slick-dots {
  display: none !important;
}

.circle-portfolio-lending {
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: 300px;
  z-index: -1;
}

/* ---------------section  reviews------------*/

.reviews {
  position: relative;
}

.reviews-title {
  margin-bottom: 10px;
}

.circle-reviews {
  width: 80px;
  height: 80px;
  left: 40%;
  top: 0;
  z-index: -1;
}

.reviews-row {
  position: relative;
}

.reviews-img {
  position: absolute;
  right: 0;
}

.reviews-frilance {
  position: relative;
  text-align: center;
  font-style: italic;
  margin: 70px auto 80px;
  max-width: 533px;
}

.reviews-frilance::after {
  position: absolute;
  content: '';
  width: 160px;
  height: 2px;
  background: #fa8907;
  left: 34%;
  bottom: -30px;
}



.reviews-slaid .slick-prev,
.reviews-slaid .slick-next {
  top: 63%;
}

.reviews-slaid .slick-next:before {
  content: url(../img/red-right.png);
}

.reviews-slaid .slick-prev:before {
  content: url(../img/red-left.png);
}

.reviews-name {
  position: relative;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 35px;
  text-align: center;
}

.reviews-name::after {
  position: absolute;
  content: url(../img/kov-min.png);
  left: 110px;
}

.reviews-slovo {
  max-width: 390px;
  text-align: center;
  margin: 0 auto;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.slick-dots {
  bottom: -115px;
}

.slick-dots li.slick-active button {
  opacity: 1;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  background: #b90311;
  border-radius: 50%;
  opacity: 0.5;
}

/* ---------------section  reviews------------*/

.contacts {
  position: relative;
  margin-bottom: 80px;
}

.contacts-title {
  margin-bottom: 20px;
}

.circle-contacts {
  width: 85px;
  height: 85px;
  top: 65px;
  left: 160px;
  z-index: -1;
}

.contacts li {
  line-height: 50px;
}

.contacts a {
  font-size: 24px;
  color: #000;
  margin-left: 10px;
}

/* ---------------section footer------------*/

.footer {
  position: relative;
  padding: 50px 0 20px;
  background: linear-gradient(245deg, #0009, #0009), url(../img/footer_bg-min.jpg) center bottom no-repeat;

}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-menu a {
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy';
  font-weight: 300;
}

.footer-btn {
  width: 190px;
  background: linear-gradient(245deg, #d9011c, #9f0509);
  padding: 10px;
  color: #fff;
}

.footer p {
  text-align: center;
  font-size: 13px;
  font-family: 'Gilroy';
  font-weight: 300;
  color: #fff;
  opacity: 0.6;
  width: 100%;
  margin-top: 30px;
}

/* ---------------Форма обратной связи------------*/

.js-form {
  display: block;
  text-align: center;
  position: relative;
}

.js-form input {
  margin-bottom: 10px;
  height: 40px;
  padding-left: 15px;
  border-radius: 5px;
  width: 90%;
}
 
textarea {
  width: 90%;
  padding-left: 15px;
  border-radius: 5px;
  height: 100px;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.91);
  overflow: hidden;
  display: none;
  z-index: 1051;
}

label.error {
  font-size: 12px;
  color: red;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

input.error {
  border: 1px solid red !important;
}

input.valid {
  border: 1px solid green !important;
}

#loader img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000c;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

#thx {
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  top: 50%;
  padding: 30px;
  margin-top: -20px;
  border-radius: 5px;
}

.btn-form {
  width: 185px;
  height: 45px;
  background: linear-gradient(245deg, #d9011c, #9f0509);
  color: #fff;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 24px;
  border: #d9011c 2px solid;
}